* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
}

h1 {
	font-size: 200%;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
}

.logo {
	height: 80px;
	cursor: pointer;
}

header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #144633;
	color: #fff;
	padding: 50px 0;
	z-index: 1;
}

header p {
	font-family: 'Allura';
	color: rgba(255, 255, 255, 0.2);
	margin-bottom: 0;
	font-size: 60px;
	margin-top: -30px;
}

.text-center {
	text-align: center;
}

.lineaTiempo {
	position: relative;
	top: 230px;
	max-width: 1200px;
	margin: 0px auto;
}

.container {
	padding: 10px 50px;
	position: relative;
	width: 50%;
}

.left-container h2 {
	position: absolute;
	right: -26px;
	top: 36px;
	background-color: #fff;
	font-size: 18px;
	border-radius: 6px;
	padding: 5px;
}

.right-container h2 {
	position: absolute;
	left: -26px;
	top: 36px;
	background-color: #fff;
	font-size: 18px;
	border-radius: 6px;
	padding: 5px;
}

.text-box {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	font-size: 15px;
}

.left-container {
	left: 0;
}

.right-container {
	left: 50%;
}

.lineaTiempo::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background: #a19856;
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: -1;
	animation: moveline 6s linear forwards;
}

@keyframes moveline {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

/* .text-box h2 {
	font-weight: 600;
} */

.text-box small {
	display: inline-block;
	margin-bottom: 10px;
}

.text-box p {
	margin-bottom: 15px;
}

.left-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fff;
	right: -15px;
}

.right-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #fff;
	left: -15px;
}

.hidden-left {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.hidden-right {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

@media screen and (max-width: 600px) {
	.lineaTiempo {
		margin: 50px auto;
	}
	.lineaTiempo::after {
		left: 31px;
	}
	.container {
		width: 100%;
		padding-left: 80px;
		padding-right: 25px;
	}
	.text-box {
		font-size: 13px;
	}
	.text-box small {
		margin-bottom: 10px;
	}
	.right-container {
		left: 0;
	}

	.left-container-arrow,
	.right-container-arrow {
		border-right: 15px solid #fff;
		border-left: 0;
		left: -15px;
	}
}

.unstyled-button {
	border: none;
	padding: 0;
	background: none;
	background: linear-gradient(180deg, #26a570 0%, #056244 49%, #74fbc7 50%, #80b2bb 100%);
	background-size: 1px 100px;
	transition: all 0.3s;
}

.unstyled-button:hover {
	background-position: 0 -50px;
	transition: all 0.3s;
}
